#map-item-component {
  width: 544px;
  height: 309px;
  border-radius: 20px;
  margin-bottom: 32px;

  background-color: #FFF;
  overflow: hidden;
}

#map-item-component:nth-child(odd) {
  margin-right: 32px;
}

.component-map-container {
  width: 100%;
  height: 227px;
  background-color: cyan;
  border-radius: 20px;
}

.component-map-footer {
  width: 100%;
  height: 82px;

  padding: 24px 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.component-map-footer a.dashboard-orphanage-name {
  font-size: 24px;
  font-weight: 700;

  color: #4D6F80;
  text-decoration: none;
}

.component-map-footer .footer-button-container {
  display: flex;
  flex-direction: row;
}

.component-map-footer .footer-button-container a.map-item-footer-button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 16px;
  outline: none;
  cursor: pointer;
  background-color: #EBF2F5;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.component-map-footer .footer-button-container a.map-item-footer-button:hover {
  background-color: #c3c3c3;
}

.component-map-footer .footer-button-container a.map-item-footer-button + a {
  margin-left: 8px;
}
