aside.app-sidebar {
  position: fixed;
  height: 100%;
  padding: 32px 24px;
  background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.app-sidebar img {
  width: 48px;
}

aside.app-sidebar button {
  width: 48px;
  height: 48px;

  border: 0;
  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #12AFCB;
  outline: none;
}

aside.app-sidebar button:hover {
  background: #17D6EB;
}

aside.app-sidebar .dashboard-button-group {
  display: flex;
  flex-direction: column;
}

aside.app-sidebar .dashboard-button-group button.current {
  background-color: #FFD666;
}

aside.app-sidebar footer button + button {
  margin-top: 16px;
}

aside.app-sidebar .dashboard-button-group button + button {
  margin-top: 16px;
}
