.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.login-page .side-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 100%;
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}

.login-page .side-logo .side-logo-content{
  display: flex;
  flex-direction: column;
}

.login-page .side-logo .side-logo-content img {
  margin-bottom: 100px;
}

.login-page .side-logo .side-logo-content .location-login {
  display: flex;

  font-weight: 600;
  font-size: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page .side-logo .side-logo-content .location-login p {
  font-weight: 800;
}

.login-page .side-form {
  position: relative;
  width: 45%;
  height: 100%;

  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #FFF;
}

.login-page .side-form button.landing-back-button {
  position: absolute;
  top: 40px;
  right: 40px;

  width: 48px;
  height: 48px;
  
  cursor: pointer;
  outline: none;
  background-color: #EBF2F5;
  border: none;
  border-radius: 16px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.login-page .side-form button.landing-back-button:hover {
  background-color: rgb(184, 196, 201);
  cursor: pointer;
}

.login-page .side-form .side-form-content {
  display: flex;
  width: 100%;
  max-width: 360px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #5C8599;
  font-size: 16px;
}

.login-page .side-form .side-form-content a.create-account-link span {
  padding-left: 10px;
}

.login-page .side-form .side-form-content a.create-account-link {
  margin-top: 20px;
  align-self: center;
  text-decoration: none;
  font-weight: 600;
  color: #0089A5;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 0.2s;
}

.login-page .side-form .side-form-content a.create-account-link:hover {
  color: #0c5463;
}

.login-page .side-form .side-form-content h1 {
  padding-bottom: 40px;
}

.login-page .side-form .side-form-content button {
  margin-top: 40px;
  text-decoration: none;

  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #37C77F;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.login-page .side-form .side-form-content button:hover {
  background: #3EE08F;
}

.login-page .side-form .side-form-content button:disabled {
  background-color: #9BE3BF;
  cursor: not-allowed;
}

.login-page .side-form .side-form-content .login-operators {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.login-page .side-form .side-form-content .login-operators label {
  height: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  color: #8FA7B2;
}

.login-page .side-form .side-form-content .login-operators label input[type="checkbox"] {
  position: absolute;
  height: 0;
  cursor: pointer;
  display: none;
}

.login-page .side-form .side-form-content .login-operators label span {
  top: 0;
  left:0;
  position: absolute;
  background-color: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  transition-duration: 0.3s;
}

.login-page .side-form .side-form-content .login-operators label input[type="checkbox"]:checked ~ span {
  background-color: #37C77F;
}

.login-page .side-form .side-form-content .login-operators label span::after {
  content: "";
  position: absolute;
  display: none;

  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login-page .side-form .side-form-content .login-operators label input[type="checkbox"]:checked ~ span::after {
  display: block;
}

.login-page .side-form .side-form-content .login-operators a {
  text-decoration: none;
  color: #8FA7B2;
}

.login-page .side-form .side-form-content .login-form-container {
  color: #8FA7B2;
  width: 100%;
}

.login-page .side-form .side-form-content .login-form-container input {
  width: 100%;
  background: #F5F8FA;
  margin: 8px 0 16px 0;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
  color: #5C8599;
  height: 64px;
  padding: 0 16px;
}